@import url(http://fonts.googleapis.com/css?family=Chango);
@import url(http://fonts.googleapis.com/css?family=Fredoka+One);
@import url(http://fonts.googleapis.com/css?family=Play);
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);

html, body {
  height: 100%;
}

h1 {
  margin-bottom: 5px;
  font-family: Georgia, 'Play', Helvetica;
}

.navbar {
  .brand {
    font-family: 'Chango', Helvetica;
    color: orange;
    font-size: 30px;
    padding-left: 10%;
  }
}

#main {
  margin-top: 60px;
}

.label {
  font-size: 16px;
  background: none;
  color: black;
}

body {
 background: url(/assets/sky_bg.jpg) no-repeat center center fixed;
 background-size: cover;
}

#headline {
  font-family: 'Fredoka One';
  padding-top: 1em;
  h1 {
      font-size: 3em;
      font-weight: normal;
  }
  h2 {
    font-size: 2em;
    line-height: 1em;
    margin: 10px 0px;
    font-weight: normal;
    a {
      font-weight: bold;
    }
  }
  h3 {
    font-weight: normal;
    font-family: Play, Helvetica;
    a {
      font-weight: bolder;
      font-size: 1.2em;
    }
  }
}

.highlight {
  color: darkorange;
  font-weight: bold;
}

label {
  font-size: 1.3em;
  font-weight: bold;
  display: inline-block;
  width: 180px;
}

.bigger {
  font-size: 1.2em;
}


#form {
  background: rgba(196,226,235,0.5);
  border-radius: 10px;
  padding: 20px;
  float: left;
  box-shadow: 2px 2px 4px rgb(123,147,153);;
  input {
    margin-bottom: 9px;
  }

}

.button {
  font-size: 2em;
  font-weight: bolder;
  color: #333;
  border: solid 1px #999;
  border-radius: 5px;
  float: left;
  a {
    color: white;
    font-size: 2.5em;
    line-height: 0.5em;
  }
  a:hover {
    text-decoration: none;
  }
}

ul.thumbnails {
  li {
    font-size: 1.2em;
    text-align: justify;
    margin-left: 40px;
    img {
      float: left;
      padding-right: 10px;
      padding-bottom: 20px;
    }
    h2 {
      line-height: 1em;
      font-family: Helvetica;
      font-weight: 300;
    }
  }
}

.scribble {
  font-family: 'Shadows Into Light';
  color: blue;
}

#pricing {
  font-size: 1.5em;
  .highlight {
    color: blue;
  }
}

#faq {
  font-size: 1.5em;
  line-height: 1.5em;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  background: rgba(196,226,235,0.5);;
  li {
    line-height: 1.5em;
  }
}

ul.ui-autocomplete {
  list-style: none;
  width: 370px;
}

#wrap {
  height: auto !important;
  min-height:94%;
  margin: 0 auto -150px;
}

#main {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 100px;
  clear:both;
  padding: 20px;
  font-size: 1.2em;
  background: rgba(75,123,143,0.6);
  color: white;
  img {
    border-radius: 50px;
  }
  a {
    color: lightblue;
  }
  h1,h2,h3 {
    font-family: "Shadows Into Light";
    margin-bottom: 3px;
    font-weight: normal;
  }
}

.map {
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgb(123,147,153);
  img {
    max-width: none;
  }
}

#map {
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgb(123,147,153);
  img {
    max-width: none;
  }
}


#demo2_map {
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgb(123,147,153);
  img {
    max-width: none;
  }
}

.green {
  color: green;
}

.red {
  color: red;
}


.yellow-gradient {
  background: lightyellow;
}


table#pricing {
  background: #fcfcfc;
  font-size: 1em;
  border-radius: 10px;
  thead {
    th {
      border-radius: 10px;
      font-size: 1.4em;
      background: lightyellow;
      font-weight: normal;
    }
  }
  box-shadow: 2px 2px 4px #ccc;
}

#content {
  line-height: 2em;
}